<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    Hello!
    <h1>I'm here!</h1>

    <a href="/create">Add</a>

    <ul>
        <% arr.forEach(function(item){ %>
            <li>
                <%= item %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
